---
---

<section 
  class="py-22 md:py-20 px-6 bg-deepblack text-bonesilk text-center relative overflow-hidden group"
  aria-label="Manifeste de la Kadô-Kou"
>
  <div class="absolute inset-0 opacity-10  bg-no-repeat bg-cover"></div>
  
  <div class="max-w-4xl mx-auto space-y-10 md:space-y-12 relative z-10 reveal-on-scroll opacity-0 translate-y-10 transition-all duration-1000">
    <div class="inline-block border border-brushedgold/30 px-6 py-2">
        <p class="text-xs font-bold text-brushedgold tracking-[0.4em] uppercase">
        Philosophie de Gastsar
        </p>
    </div>
    
    <blockquote class="text-2xl md:text-5xl lg:text-7xl font-serif italic leading-tight px-4">
      "Le luxe ne réside pas dans le prix, mais dans <span class="text-brushedgold">l'intention</span>."
    </blockquote>
    
  </div>
</section>

